---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/Dpalazzari/api_curious/commits?client_id=&client_secret=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '7'
      X-Ratelimit-Reset:
      - '1486070776'
      Etag:
      - W/"616aa22617ee2d565150e1bf0eae1655"
      Last-Modified:
      - Thu, 02 Feb 2017 20:27:22 GMT
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/repositories/80458660/commits?client_id=&client_secret=&page=2>;
        rel="next", <https://api.github.com/repositories/80458660/commits?client_id=&client_secret=&page=2>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"sha":"eedac44a6fdac13c352b8818f231ae2cd74efd59","commit":{"author":{"name":"Drew
        Palazzari","email":"drewpalazzari@hotmail.com","date":"2017-02-02T20:27:22Z"},"committer":{"name":"GitHub","email":"noreply@github.com","date":"2017-02-02T20:27:22Z"},"message":"Merge
        pull request #3 from Dpalazzari/api-repo-commits\n\nView a user''s commits
        functionality","tree":{"sha":"4a8049970f8ada1ac3b2bdbddbffa1358d85e6f8","url":"https://api.github.com/repos/Dpalazzari/api_curious/git/trees/4a8049970f8ada1ac3b2bdbddbffa1358d85e6f8"},"url":"https://api.github.com/repos/Dpalazzari/api_curious/git/commits/eedac44a6fdac13c352b8818f231ae2cd74efd59","comment_count":0},"url":"https://api.github.com/repos/Dpalazzari/api_curious/commits/eedac44a6fdac13c352b8818f231ae2cd74efd59","html_url":"https://github.com/Dpalazzari/api_curious/commit/eedac44a6fdac13c352b8818f231ae2cd74efd59","comments_url":"https://api.github.com/repos/Dpalazzari/api_curious/commits/eedac44a6fdac13c352b8818f231ae2cd74efd59/comments","author":{"login":"Dpalazzari","id":19585280,"avatar_url":"https://avatars.githubusercontent.com/u/19585280?v=3","gravatar_id":"","url":"https://api.github.com/users/Dpalazzari","html_url":"https://github.com/Dpalazzari","followers_url":"https://api.github.com/users/Dpalazzari/followers","following_url":"https://api.github.com/users/Dpalazzari/following{/other_user}","gists_url":"https://api.github.com/users/Dpalazzari/gists{/gist_id}","starred_url":"https://api.github.com/users/Dpalazzari/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/Dpalazzari/subscriptions","organizations_url":"https://api.github.com/users/Dpalazzari/orgs","repos_url":"https://api.github.com/users/Dpalazzari/repos","events_url":"https://api.github.com/users/Dpalazzari/events{/privacy}","received_events_url":"https://api.github.com/users/Dpalazzari/received_events","type":"User","site_admin":false},"committer":{"login":"web-flow","id":19864447,"avatar_url":"https://avatars.githubusercontent.com/u/19864447?v=3","gravatar_id":"","url":"https://api.github.com/users/web-flow","html_url":"https://github.com/web-flow","followers_url":"https://api.github.com/users/web-flow/followers","following_url":"https://api.github.com/users/web-flow/following{/other_user}","gists_url":"https://api.github.com/users/web-flow/gists{/gist_id}","starred_url":"https://api.github.com/users/web-flow/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/web-flow/subscriptions","organizations_url":"https://api.github.com/users/web-flow/orgs","repos_url":"https://api.github.com/users/web-flow/repos","events_url":"https://api.github.com/users/web-flow/events{/privacy}","received_events_url":"https://api.github.com/users/web-flow/received_events","type":"User","site_admin":false},"parents":[{"sha":"c7b66bf3a9ac90f485141db8084560fb17b819a7","url":"https://api.github.com/repos/Dpalazzari/api_curious/commits/c7b66bf3a9ac90f485141db8084560fb17b819a7","html_url":"https://github.com/Dpalazzari/api_curious/commit/c7b66bf3a9ac90f485141db8084560fb17b819a7"},{"sha":"a250f866d33bd15fbc05663c1551ecd5d85b8c3b","url":"https://api.github.com/repos/Dpalazzari/api_curious/commits/a250f866d33bd15fbc05663c1551ecd5d85b8c3b","html_url":"https://github.com/Dpalazzari/api_curious/commit/a250f866d33bd15f[...]
