---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/Dpalazzari/repos?client_id=&client_secret=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '10'
      X-Ratelimit-Reset:
      - '1486070776'
      Etag:
      - W/"b957ba730a18da477514b0b039e807b6"
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"id":80458660,"name":"api_curious","full_name":"Dpalazzari/api_curious","owner":{"login":"Dpalazzari","id":19585280,"avatar_url":"https://avatars.githubusercontent.com/u/19585280?v=3","gravatar_id":"","url":"https://api.github.com/users/Dpalazzari","html_url":"https://github.com/Dpalazzari","followers_url":"https://api.github.com/users/Dpalazzari/followers","following_url":"https://api.github.com/users/Dpalazzari/following{/other_user}","gists_url":"https://api.github.com/users/Dpalazzari/gists{/gist_id}","starred_url":"https://api.github.com/users/Dpalazzari/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/Dpalazzari/subscriptions","organizations_url":"https://api.github.com/users/Dpalazzari/orgs","repos_url":"https://api.github.com/users/Dpalazzari/repos","events_url":"https://api.github.com/users/Dpalazzari/events{/privacy}","received_events_url":"https://api.github.com/users/Dpalazzari/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/Dpalazzari/api_curious","description":null,"fork":false,"url":"https://api.github.com/repos/Dpalazzari/api_curious","forks_url":"https://api.github.com/repos/Dpalazzari/api_curious/forks","keys_url":"https://api.github.com/repos/Dpalazzari/api_curious/keys{/key_id}","collaborators_url":"https://api.github.com/repos/Dpalazzari/api_curious/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/Dpalazzari/api_curious/teams","hooks_url":"https://api.github.com/repos/Dpalazzari/api_curious/hooks","issue_events_url":"https://api.github.com/repos/Dpalazzari/api_curious/issues/events{/number}","events_url":"https://api.github.com/repos/Dpalazzari/api_curious/events","assignees_url":"https://api.github.com/repos/Dpalazzari/api_curious/assignees{/user}","branches_url":"https://api.github.com/repos/Dpalazzari/api_curious/branches{/branch}","tags_url":"https://api.github.com/repos/Dpalazzari/api_curious/tags","blobs_url":"https://api.github.com/repos/Dpalazzari/api_curious/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/Dpalazzari/api_curious/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/Dpalazzari/api_curious/git/refs{/sha}","trees_url":"https://api.github.com/repos/Dpalazzari/api_curious/git/trees{/sha}","statuses_url":"https://api.github.com/repos/Dpalazzari/api_curious/statuses/{sha}","languages_url":"https://api.github.com/repos/Dpalazzari/api_curious/languages","stargazers_url":"https://api.github.com/repos/Dpalazzari/api_curious/stargazers","contributors_url":"https://api.github.com/repos/Dpalazzari/api_curious/contributors","subscribers_url":"https://api.github.com/repos/Dpalazzari/api_curious/subscribers","subscription_url":"https://api.github.com/repos/Dpalazzari/api_curious/subscription","commits_url":"https://api.github.com/repos/Dpalazzari/api_curious/commits{/sha}","git_commits_url":"https://api.github.com/repos/Dpalazzari/api_curious/git/commits{/sha}","comments_url":"https://api.github.com/repos/Dpalazzari/api_curious/comments{/number}","issue_comment_url":"https://api.github.com/repos/Dpalazzari/api_curious/issues/comments{/number}","contents_url":"https://api.github.com/repos/Dpalazzari/api_curious/contents/{+path}","compare_url":"https://api.github.com/repos/Dpalazzari/api_curious/compare/{base}...{head}","merges_url":"https://api.github.com/repos/Dpalazzari/api_curious/merges","archive_url":"https://api.github.com/repos/Dpalazzari/api_curious/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/Dpalazzari/api_curious/downloads","issues_url":"https://api.github.com/repos/Dpalazzari/api_curious/issues{/number}","pulls_url":"https://api.github.com/repos/Dpalazzari/api_curious/pulls{/number}","milestones_url":"https://api.github.com/repos/Dpalazzari/api_curious/milestones{/number}","notifications_url":"https://api.github.com/repos/Dpalazzari/api_curious/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/Dpalazzari/api_curious/labels{/name}","releases_url":"https://api.github.com/repos/Dpalazzari/api_curious/releases{/id}","deployments_url":"https://api.github.com/repos/Dpalazzari/api_curious/deployments","created_at":"2017-01-30T20:09:09Z","updated_at":"2017-02-01T21:11:05Z","pushed_at":"2017-02-02T21:17:25Z","git_url":"git://github.com/Dpalazzari/api_curious.git","ssh_url":"git@github.com:Dpalazzari/api_curious.git","clone_url":"https://github.com/Dpalazzari/api_curious.git","svn_url":"https://github.com/Dpalazzari/api_curious","homepage":null,"size":254,"stargazers_count":0,"watchers_count":0,"language":"HTML","has_issues":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"open_issues_count":1,"forks":0,"open_issues":1,"watchers":0,"default_branch":"master"},{"id":80580513,"name":"bike-share","full_name":"Dpalazzari/bike-share","owner":{"login":"Dpalazzari","id":19585280,"avatar_url":"https://avatars.githubusercontent.com/u/19585280?v=3","gravatar_id":"","url":"https://api.github.com/users/Dpalazzari","html_url":"https://github.com/Dpalazzari","followers_url":"https://api.github.com/users/Dpalazzari/followers","following_url":"https://api.github.com/users/Dpalazzari/following{/other_user}","gists_url":"https://api.github.com/users/Dpalazza[...]
