---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/Dpalazzari/starred?client_id=&client_secret=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '30'
      X-Ratelimit-Reset:
      - '1486060076'
      Etag:
      - W/"41f31cfee97195d5069bbfb06e8b85e1"
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"id":79847078,"name":"rails_engine","full_name":"tmikeschu/rails_engine","owner":{"login":"tmikeschu","id":19894032,"avatar_url":"https://avatars.githubusercontent.com/u/19894032?v=3","gravatar_id":"","url":"https://api.github.com/users/tmikeschu","html_url":"https://github.com/tmikeschu","followers_url":"https://api.github.com/users/tmikeschu/followers","following_url":"https://api.github.com/users/tmikeschu/following{/other_user}","gists_url":"https://api.github.com/users/tmikeschu/gists{/gist_id}","starred_url":"https://api.github.com/users/tmikeschu/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/tmikeschu/subscriptions","organizations_url":"https://api.github.com/users/tmikeschu/orgs","repos_url":"https://api.github.com/users/tmikeschu/repos","events_url":"https://api.github.com/users/tmikeschu/events{/privacy}","received_events_url":"https://api.github.com/users/tmikeschu/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/tmikeschu/rails_engine","description":null,"fork":false,"url":"https://api.github.com/repos/tmikeschu/rails_engine","forks_url":"https://api.github.com/repos/tmikeschu/rails_engine/forks","keys_url":"https://api.github.com/repos/tmikeschu/rails_engine/keys{/key_id}","collaborators_url":"https://api.github.com/repos/tmikeschu/rails_engine/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/tmikeschu/rails_engine/teams","hooks_url":"https://api.github.com/repos/tmikeschu/rails_engine/hooks","issue_events_url":"https://api.github.com/repos/tmikeschu/rails_engine/issues/events{/number}","events_url":"https://api.github.com/repos/tmikeschu/rails_engine/events","assignees_url":"https://api.github.com/repos/tmikeschu/rails_engine/assignees{/user}","branches_url":"https://api.github.com/repos/tmikeschu/rails_engine/branches{/branch}","tags_url":"https://api.github.com/repos/tmikeschu/rails_engine/tags","blobs_url":"https://api.github.com/repos/tmikeschu/rails_engine/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/tmikeschu/rails_engine/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/tmikeschu/rails_engine/git/refs{/sha}","trees_url":"https://api.github.com/repos/tmikeschu/rails_engine/git/trees{/sha}","statuses_url":"https://api.github.com/repos/tmikeschu/rails_engine/statuses/{sha}","languages_url":"https://api.github.com/repos/tmikeschu/rails_engine/languages","stargazers_url":"https://api.github.com/repos/tmikeschu/rails_engine/stargazers","contributors_url":"https://api.github.com/repos/tmikeschu/rails_engine/contributors","subscribers_url":"https://api.github.com/repos/tmikeschu/rails_engine/subscribers","subscription_url":"https://api.github.com/repos/tmikeschu/rails_engine/subscription","commits_url":"https://api.github.com/repos/tmikeschu/rails_engine/commits{/sha}","git_commits_url":"https://api.github.com/repos/tmikeschu/rails_engine/git/commits{/sha}","comments_url":"https://api.github.com/repos/tmikeschu/rails_engine/comments{/number}","issue_comment_url":"https://api.github.com/repos/tmikeschu/rails_engine/issues/comments{/number}","contents_url":"https://api.github.com/repos/tmikeschu/rails_engine/contents/{+path}","compare_url":"https://api.github.com/repos/tmikeschu/rails_engine/compare/{base}...{head}","merges_url":"https://api.github.com/repos/tmikeschu/rails_engine/merges","archive_url":"https://api.github.com/repos/tmikeschu/rails_engine/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/tmikeschu/rails_engine/downloads","issues_url":"https://api.github.com/repos/tmikeschu/rails_engine/issues{/number}","pulls_url":"https://api.github.com/repos/tmikeschu/rails_engine/pulls{/number}","milestones_url":"https://api.github.com/repos/tmikeschu/rails_engine/milestones{/number}","notifications_url":"https://api.github.com/repos/tmikeschu/rails_engine/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/tmikeschu/rails_engine/labels{/name}","releases_url":"https://api.github.com/repos/tmikeschu/rails_engine/releases{/id}","deployments_url":"https://api.github.com/repos/tmikeschu/rails_engine/deployments","created_at":"2017-01-23T20:55:19Z","updated_at":"2017-01-27T02:16:19Z","pushed_at":"2017-01-27T14:38:06Z","git_url":"git://github.com/tmikeschu/rails_engine.git","ssh_url":"git@github.com:tmikeschu/rails_engine.git","clone_url":"https://github.com/tmikeschu/rails_engine.git","svn_url":"https://github.com/tmikeschu/rails_engine","homepage":null,"size":2586,"stargazers_count":1,"watchers_count":1,"language":"Ruby","has_issues":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":1,"mirror_url":null,"open_issues_count":0,"forks":1,"open_issues":0,"watchers":1,"default_branch":"master"},{"id":77956259,"name":"lobbify","full_name":"drod1000/lobbify","owner":{"login":"drod1000","id":19962197,"avatar_url":"https://avatars.githubusercontent.com/u/19962197?v=3","gravatar_id":"","url":"https://api.github.com/users/drod1000","html_url":"https://github.com/drod1000","followers_url":"https://api.github.com/users/drod1000/followers","following_url":"https://api.github.com/users/drod1000/following{/other_user}","gists_url":"https://api.github.com/users/drod1000/gists{/gist_id}",[...]
