---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/Dpalazzari/following??client_id=&client_secret=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '9'
      X-Ratelimit-Reset:
      - '1486070776'
      Etag:
      - W/"af8c2301ca5c5f5e6f645f43b40081f2"
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"login":"Sh1pley","id":12022194,"avatar_url":"https://avatars.githubusercontent.com/u/12022194?v=3","gravatar_id":"","url":"https://api.github.com/users/Sh1pley","html_url":"https://github.com/Sh1pley","followers_url":"https://api.github.com/users/Sh1pley/followers","following_url":"https://api.github.com/users/Sh1pley/following{/other_user}","gists_url":"https://api.github.com/users/Sh1pley/gists{/gist_id}","starred_url":"https://api.github.com/users/Sh1pley/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/Sh1pley/subscriptions","organizations_url":"https://api.github.com/users/Sh1pley/orgs","repos_url":"https://api.github.com/users/Sh1pley/repos","events_url":"https://api.github.com/users/Sh1pley/events{/privacy}","received_events_url":"https://api.github.com/users/Sh1pley/received_events","type":"User","site_admin":false},{"login":"Laszlo-JFLMTCO","id":18202283,"avatar_url":"https://avatars.githubusercontent.com/u/18202283?v=3","gravatar_id":"","url":"https://api.github.com/users/Laszlo-JFLMTCO","html_url":"https://github.com/Laszlo-JFLMTCO","followers_url":"https://api.github.com/users/Laszlo-JFLMTCO/followers","following_url":"https://api.github.com/users/Laszlo-JFLMTCO/following{/other_user}","gists_url":"https://api.github.com/users/Laszlo-JFLMTCO/gists{/gist_id}","starred_url":"https://api.github.com/users/Laszlo-JFLMTCO/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/Laszlo-JFLMTCO/subscriptions","organizations_url":"https://api.github.com/users/Laszlo-JFLMTCO/orgs","repos_url":"https://api.github.com/users/Laszlo-JFLMTCO/repos","events_url":"https://api.github.com/users/Laszlo-JFLMTCO/events{/privacy}","received_events_url":"https://api.github.com/users/Laszlo-JFLMTCO/received_events","type":"User","site_admin":false}]'
  recorded_at: Thu, 02 Feb 2017 21:20:52 GMT
recorded_with: VCR 3.0.3
