<h1><%= current_user.login %>'s Followed Users: </h1>

<section>
  <% @followed.each do |fol| %>
    <ul class='followed'>
      <img src="<%= fol.avatar %>">
      <li><%= fol.user %></li>
      <li><%= link_to "View Github Profile", "#{fol.url}"%></li>
    </ul>
    <% end %>
</section>